---
import { products } from '@lib/data'
import Layout from '@layouts/Layout.astro'
import ProductItem from '@components/ProductItem.astro'

const { category } = Astro.params
const filteredProducts = products.filter(
  (product) => product.category === category
)
---

<Layout title={category}>
  <section class='min-h-screen flex flex-col items-center pt-20 gap-y-10 px-10'>
    <h1 class='font-titles text-[2.5em] uppercase text-neutral-800'>
      {category}
    </h1>
    <div class='flex flex-wrap gap-5'>
      {filteredProducts.map((product) => <ProductItem product={product} />)}
    </div>
  </section>
</Layout>
