---
import Hero from '@sections/Hero.astro'
import ProductList from '@sections/ProductList.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Seeds Shop'>
  <Hero />
  <main>
    <ProductList />
  </main>
</Layout>
