---
import BackArrow from '../icons/back-arrow.astro'
---

<a href='/' class='px-3 py-1 absolute top-12 left-10'>
  <BackArrow
    class='size-12 text-neutral-700 hover:-translate-x-1 hover:text-neutral-950 transition-all duration-300'
  />
</a>
