---
import HeaderCartIcon from '@components/HeaderCartIcon.tsx'
import WeedIcon from '@icons/WeedIcon.astro'
---

<header
  transition:animate='none'
  id='header'
  class='w-full fixed top-0 right-0 z-10'
>
  <nav
    class='w-full flex justify-between items-center sm:gap-x-10 pb-2 sm:pt-4 pt-5 sm:px-10 px-6'
  >
    <a href='/'><WeedIcon class='size-7' /></a>
    <div class='flex sm:gap-x-10 gap-x-5 font-semibold sm:text-[17px] text-xs'>
      <a href='/category/fotoperiodicas'>Fotoperiodicas</a>
      <a href='/category/autoflorecientes'>Autoflorecientes</a>
    </div>
    <HeaderCartIcon client:load />
  </nav>
</header>
<style>
  a {
    @apply hover:scale-110 transition-all duration-300;
  }

  header,
  nav a {
    animation: blur linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 400px;
    @apply rounded-b-3xl;
  }

  @keyframes blur {
    to {
      @apply backdrop-blur-[10px] bg-neutral-100;
    }
  }
</style>
