<header class='w-full fixed top-0 right-0  bg-indigo-300 z-10'>
  <nav class='w-full flex justify-center gap-x-10 p-2'>
    <a href='/'>Home</a>
    <a href='/category/fotoperiodicas'>Fotoperiodicas</a>
    <a href='/category/autoflorecientes'>Autoflorecientes</a>
    <a href='/favoritos'>Favoritos</a>
  </nav>
</header>
