---
import HeaderCartIcon from '@components/HeaderCartIcon.tsx'
import WeedIcon from '@icons/WeedIcon.astro'
---

<header class='w-full fixed top-0 right-0 z-10'>
  <nav
    class='w-full flex justify-between items-center gap-x-10 pb-2 pt-4 px-10'
  >
    <a href='/'><WeedIcon class='size-7 text-green-600' /></a>
    <div class='flex gap-x-10 font-semibold text-[17px]'>
      <a href='/category/fotoperiodicas'>Fotoperiodicas</a>
      <a href='/category/autoflorecientes'>Autoflorecientes</a>
    </div>
    <HeaderCartIcon client:load />
  </nav>
</header>
