---
import { icons } from '@lib/hero-icons.astro'
---

<section class='sm:h-[90vh] h-screen w-full grid sm:grid-cols-2'>
  <article
    class='flex flex-col sm:justify-normal justify-around items-center sm:pt-32 pt-10'
  >
    <h1 class='text-[5em] uppercase font-titles sm:text-start text-center'>
      <span>Seeds</span>
      <span>Shop</span>
    </h1>
    <p class='sm:w-2/3 w-[80%] text-pretty'>
      En <strong class='text-green-600'>Seeds Shop</strong> nos dedicamos a ofrecer
      semillas de marihuana excepcionales. Nuestro compromiso con la calidad y la
      excelencia garantiza una experiencia de cultivo única. Descubre la diferencia
      con nosotros y haz que tu jardín florezca.
    </p>
    <nav class='flex justify-center gap-x-10 sm:mt-20 mt-10'>
      {
        icons.map((item) => (
          <button>
            <item.icon class='size-7 text-neutral-800' />
          </button>
        ))
      }
    </nav>
  </article>
  <!--  -->
  <picture class='sm:flex hidden justify-end items-center mt-14'>
    <img
      src='/images/hero-bg.webp'
      alt='Image of weed'
      class='h-[50%] w-auto aspect-auto'
    />
  </picture>
</section>
