---
import ProductItem from '@components/ProductItem.astro'
import { products } from '@lib/data'
---

<section
  class='min-h-screen w-full sm:py-16 py-5 px-10 flex flex-col flex-wrap items-center gap-y-10'
>
  <h1
    class='text-[3.5em] tracking-wider text-neutral-900 font-titles uppercase'
  >
    Semillas
  </h1>
  <div class='flex flex-wrap w-full justify-center gap-5'>
    {products.map((product) => <ProductItem product={product} />)}
  </div>
</section>
<style>
  section {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 20%;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 200px;
      scale: 0.5;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
